@import '../../styles/globals.scss';

.SiteList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  margin: 2rem 0;
}

.placesSide {
  overflow-y: auto;
  max-height: calc(100vh - 240px);
  padding-right: .5rem
}

.scrollArea {
  @extend .scrollArea
}