$ccs-bg-beige:    #F8E9C1;
$ccs-orange:      #F8A948;
$ccs-orange-deep: #E4812C;
$ccs-yellow:      #FFEAB6;
$ccs-blue:        #6E93A5;
$ccs-blue-dark:   #4B6C7B;
$ccs-green:       #B5C6A4;
$ccs-blue-shadow: #3A5360;
$bg-card: #fffbe7;

$text-dark: #314352;
$text-mid: #4b6c7b;
$text-gold: #a88953;